html, body {
	height: 100%;
    margin: 0 2em;
    padding: 0;
}
select {
	font-size: 1.2em;
}
#map {
	height: 100%;
	float: left;
	width: 70%;
}
#directionsPanel {
	height: 100%;
	width: 30%;
	float: right;
}